<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>


<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>User info</h2>
        <%= form_with model: @user do |user| %>
          <div class="form-group">
            <label for="user_name">Name</label>
            <%= user.text_field :name %>
          </div>
         <div class="form-group">
            <label for="user_image">Image</label>
            <%= user.file_field :profile_image, accept: "image/*" %>
          </div>
          <div class="form-group">
            <label for="user_introduction">Introduction</label>
            <%= user.text_area :introduction %>
          </div>
          <div class="form-group">
            <%= user.submit 'Update User'%>
          </div>
        <% end %>
    </div>
  </div>
</div>