<h1>Books#show</h1>

<h2>Book detail</h2>
<tbody>
  <tr>
    <td><%= image_tag @book.user.get_profile_image %></td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td><%= link_to 'Edit', edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
    <td><%= link_to 'Destroy', book_path(@book.id), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-sm btn-danger" %></td>
  </tr>
</tbody>